body {
    background-color: rgb(235, 180, 180);
}

.texto-animado {
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 3rem;
    color: rgb(102, 31, 31);
    
    text-align: center;
    max-width: 450px;

    position: relative;

    animation: pulsar 6s linear infinite;
}

@keyframes pulsar {
    0% {
        top: 0;
        left:0;
        text-shadow: none;
    }
    25% {
        top: -20px;
        left: -20px;
        text-shadow: 20px 20px 20px darkred;
    }
    75% {
        top: -20px;
        left: 20px;
        text-shadow: 20px 20px 20px darkred;
    }
    100% {
        top: 0;
        left:0;
    }
}