body {
    background-color: rgb(48, 61, 26);
    color: #ddd;
}

.pulsar {
    border: none;
    position: relative;
    background-color: magenta;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.pulsar::before,
.pulsar::after {
    content: "";
    
    background-color: #ddd;
    width: 100px;
    height: 100px;
    border-radius: 50%;

    transition: 1s;

    position: absolute;
    left: 0;
    top: 0;
}

.pulsar::before { 
    animation: interno 2s ease-in-out infinite;
}

@keyframes interno {
    0% {
        opacity: 1;
        transform: scale(1,1);
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(1.8, 1.8);
    }
}